@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 657px;
    width: 101%;
    background-color: black;
}

body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
}

main{
    position: relative;
    height: 100vh;
    padding: 30px 30px 0px 30px;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 627px;
    width: 311px;
    background-color: blue;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22.9px;
    width: 265px;
    height: 471px;
}

section#redes-sociais{
    text-align: right;
}

section#redes-sociais img{
    width: 50px;
    margin: 10px 0px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.5);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, border 0.2s;
}

footer{
    margin: 8px 0px;
    padding: 3px;
    width: 100%;
    background-image: linear-gradient(to bottom,  brown, black);
    color: white;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#rodape{
    text-decoration: none;
    color: white;
}